main .container {
    width: 1200px;
    margin: auto;
}

main .container .content {
    width: 900px;
}

main .container .content .top {
    border-bottom: 2px solid #09f;
    margin-top: 30px;
}

main .container .content .top span {
    color: #09f;
    margin-left: 5px;
}

main .container .content .bottom>.left>img {
    width: 330px;
    margin: 50px 30px 30px 0px;
}

main .container .content .bottom>.left>p {
    text-indent: 2em;
    width: 330px;
    text-align: justify;
    line-height: 22px;
    margin-top: 10px;
}

main .container .content .bottom>.right {
    width: 500px;
    margin-top: 50px;
}

main .container .bottom .l>img {
    width: 66px;
}

main .container .content .bottom>.right .r {
    width: 410px;
    border-bottom: 2px dashed #999;
    padding-bottom: 20px;
}
main .container .content .bottom>.right .line1>a {
    color: #09f;

}

main .container .content .bottom .line,
main .container .content .bottom>.right .line1{
    margin-bottom:40px;
    height: 50px;
}
main::after{
 content:"";
 display:block;
 clear:both;
}
main .container .content .bottom .footer{
    margin-top: 60px;
}
main .container .content .bottom .footer>div{
outline: 1px solid #999;
width: 20px;
height: 20px;
color:rgb(63,90,119);
text-align: center;
}
main .container .content .bottom .footer>.div1{
    width: 60px;
}
main .container .content .bottom .footer>.div3{
    background: rgb(63,90,119);
    color:white;
}

